*,
*::before,
*::after {
    box-sizing: border-box;
}

/*custom properties*/
:root {
    --ff-primary:'Bitter', serif;
    --ff-secondary:'Silkscreen', cursive;

    --fw-reg: 300;
    --fw-bold: 500;

    --clr-light: #C8B6E2;
    --clr-dark: #495C83;
    --clr-accent: #C1EFFF;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgb(0,0,0, 0.25),
    0.125em 0.125em 0.25em rgb(0,0,0, 0.15);
}

/*redefine font sizes for big screen*/
@media (min-width: 1050px){
    :root{
    --fs-h1: 4.5rem;
    --fs-h2: 3.755rem;
    --fs-h3: 2rem;
    --fs-body: 1.25rem;
    }
}

/*general styles*/
html { scroll-behavior: smooth; }

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
    min-width: 250px;
}

a { text-decoration: none;}

strong { font-weight: var(--fw-bold); }

section { padding: 5em 2em; }

.logo-img {
    max-width: 100px;
    min-width: 75px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

/*navigation*/
.nav{
    position: fixed;
    background:var(--clr-dark);
    color:var(--clr-light);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);   
}

.nav-list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-link {
    color: inherit;
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    text-decoration: none ;
}

.nav-link:hover {
    color:var(--clr-accent);
}

.nav-toggle {
    width: 3em;
    height: 25px;
    align-items: center;
    padding: 0.5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 2em;
    top: 2em;
    z-index: 1000;
}

.nav-open .nav{ transform: translateX(0); }

.nav-open .nav-toggle { position: fixed; }

.nav-open .hamburger { transform: rotate(45deg); }

.nav-open .hamburger::before{ transform: rotate(90deg) translateX(-12px); }

.nav-open .hamburger::after { opacity: 0; }

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::after,
.hamburger::before {
    background:var(--clr-accent);
    width: 2em;
    height: 4px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::after,
.hamburger::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 12px; }
.hamburger::after { bottom: 12px; }

/*buttons*/
.btn {
    display: inline-block;
    padding: 0.75em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    margin-top: 1em;
}

.btn:hover { transform: scale(1.1); }

/*typography*/
h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1); }

h2 { font-size: var(--fs-h2); }

h3 { font-size: var(--fs-h3); }

.section-title { margin-bottom: 0.25em; }

.section-title-intro{ font-weight: var(--fw-reg); }

.section-title-intro strong{ display: block; }

.section-subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section-subtitle-about,
.section-subtitle-intro {
    background:var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}
.section-subtitle-work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/*intro*/
.intro { position: relative; }

.section-subtitle-intro{ display: inline-block; }

@media (min-width:600px) and (max-width: 1049px){
    .intro-img{
        grid-area: img;
        width: 500px;
    }
}

@media (min-width: 800px){
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
        'img title'
        'img subtitle';
        
        grid-template-columns: min-content max-content;
    }

    .intro-img{
        grid-area: img;
        max-width: 600px;
    }

    .section-subtitle-intro {
        align-self: start;
        grid-column: -1/1;
        grid-row:2;
        text-align: right;
        position: relative;
        left: -2em;
        width: calc(100% + 2em);
        z-index: -1;
    }

    .section-title-intro{ grid-area: title; }
}

/*my services*/

.my-services {
    background-color: var(--clr-dark);
    background-image:url(img/computer-programming.ipg.webp);
    background-size: cover;
    background-blend-mode:multiply;
    color: var(--clr-light);
    text-align: center;
}

.section-title-services {
    color: var(--clr-accent);
    position: relative;
}

.section-title-services::after {
    content: '';
    display: block;
    width: 25%;
    height: 1px;
    margin: 0.5em auto 1em;
    background: currentColor;
    opacity: 0.5;
}

.services { margin-bottom: 3em; }

.service {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px){
    .services {
        display: flex;
        max-width: 1500px;
        margin-left:auto ;
        margin-right:auto;
    }

    .service + .service { margin-left: 3em; }
}

/*about me*/

.about-me {
    max-width: 1500px;
    margin: 0 auto;
}

.about-me-img { box-shadow: var(--bs); }

.about-me-info { text-indent: 2em; }

@media (min-width: 800px) {
    
    .about-me {
        display: grid;
        grid-template-columns: 1fr 400px;
        grid-template-areas: 
        'title img'
        'subtitle img'
        'text img ';
        grid-column-gap: 2em;
        align-items:center;
        overflow: hidden;
    }

    .section-title-about{ 
        grid-area: title;
    }

    .section-subtitle-about{
        grid-area: subtitle;
        grid-row: 2;
        grid-column: 1/-1;
        position: relative;
        left: -1em;
        z-index: -1;
        width: calc(100% + 2em);
        padding-right: calc(200px + 2em);
        padding-left: 1em;        
    }

    .about-me-img {
        position: relative;
        grid-area: img;
        max-height: 700px;
        object-fit: cover;
        display: block;
    }

    .about-me-info {
        grid-area: text;
        max-width: 100%;
        text-align:left;
    }
}

/*my work*/
.my-work {
    background:var(--clr-dark);
    color:var(--clr-light);
    text-align: center;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
}

.portfolio-item {
    background:var(--clr-accent);
    overflow: hidden;
}

.portfolio-img {
    /*object-fit: cover;*/
    width: 100%;
    height: 100%;

    transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

@media (min-width: 800px){
    .portfolio-img {
        min-width: 400px;
        min-height: 100%;
        transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
    }
}

.portfolio-img:hover {
    transform: scale(1.2);
}


/*footer*/
footer {
   background: #111;
   color: var(--clr-accent);
   text-align: center;
   padding: 2.5em 0;
   font-size: var(--fs-h3);
}

footer a {
    color: inherit;
    text-decoration: none;
}

.footer-link,
.social-link:hover{
    opacity: 0.7;
    
}

.social-link,
.footer-link{
    font-weight: var(--fw-bold);
}

.social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 2em;
}

.social-item { margin: 0 1em; }

.social-link { padding: .5em; }

/*portfolio item style*/

.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1500px;
    margin: 0 auto;
}
.portfolio-item-individual p { text-indent: 2em; }
.portfolio-item-individual img{ margin: 0 auto; }
